@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --background-color: #200f21;
  --text-color: #fff;
  --theme-color-one: #900c3f;
  --theme-color-two: #f6f740;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  height: 100%;
  max-width: 100%;
  position: relative;
  color: var(--text-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

button {
  background: none transparent;
  border: none;
  border-spacing: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  text-indent: 0;
  color: inherit;
}

.btn {
  border: 3px solid var(--theme-color-one);
  border-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  transition: 0.2s ease;
}

.round {
  border-radius: 25px;
}

.btn:hover {
  background-color: var(--theme-color-one);
  border: 3px solid var(--theme-color-two);
}

.body-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  width: 100vw;
}

#mainSection {
  display: block;
}

.scroll-section {
  height: 100vh;
  scroll-snap-align: start;
}

.hero {
  padding: 10px;
  position: relative;
}

.hero p {
  font-size: 1.5em;
  margin-left: 40px;
}

.hero .graphic svg {
  width: 70%;
  height: auto;
  position: absolute;
  top: 30vh;
}

#projectPreviewSection {
  padding-top: 0;
  justify-content: center;
  align-items: center;
}

#slideshow {
  height: 80vh;
  width: auto;
}

#slideshow-text {
  align-self: center;
  justify-self: center;
  margin: 20px;
}

#slideshow-text h3 {
  font-size: 2.5em;
  position: relative;
}

#slideshow-text h3::before {
  content: "</>";
  position: absolute;
  color: var(--theme-color-one);
  top: -50px;
  z-index: -1;
}

#contact {
  position: relative;
  width: 100vw;
  padding: 40px;
}

#contact a:hover {
  color: #2196f3;
}

#contact h1 {
  color: var(--theme-color-one);
  font-size: 3em;
}

#contact h1::before {
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  height: 2.2em;
  width: 2.2em;
  display: block;
  position: relative;
  z-index: -1;
  top: 60px;
  left: -20px;
  box-shadow: -3px 3px 15px 2px #000;
}

#projectSection {
  display: none;
  padding: 50px;
  margin-top: 4%;
  position: relative;
}

#projectCloseBtn {
  position: absolute;
  right: 3%;
  top: 5%;
}

#projectsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-wrapper {
  height: 300px;
  width: 260px;
  flex: 1 0 21%;
}

.project {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin: 0;
  transition: 0.5s ease;
  padding: 10px;
  box-sizing: border-box;
}

#theMagazine {
  background-image: url("../images/themagazine.jpg");
}

#anonmail {
  background-image: url("../images/anonmail.jpg");
}

#myHostel {
  background-image: url("../images/myhostel.jpg");
}

#productInfoSearch {
  background-image: url("../images/productinfosearch.jpg");
}

#onTheGo {
  background-image: url("../images/onthego.jpg");
}

#mindful {
  background-image: url("../images/mindful.jpg");
}

#peerTutoring {
  background-image: url("../images/peertutoring.jpg");
}

#theMagazine:hover,
#anonmail:hover,
#myHostel:hover,
#productInfoSearch:hover,
#onTheGo:hover,
#mindful:hover,
#peerTutoring:hover {
  background-image: linear-gradient(#000, #333);
  transform: scale(1.1);
}

.project * {
  display: none;
}

.project h4 {
  color: #dd085a;
}

.project:hover * {
  display: block;
}

@media (max-width: 960px) {
  .hero .graphic svg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50vh;
  }

  .hero p {
    font-size: 1.7em;
    text-align: center;
    margin-left: 0;
    margin-top: 60px;
  }

  .project-wrapper {
    flex: 1 0 49%;
  }

  #projectPreviewSection {
    display: block;
    text-align: center;
    padding-top: 25%;
  }

  #projectSection {
    overflow-y: scroll;
    font-size: 0.8em;
  }

  #theMagazine {
    background-image: url("../images/themagazine-mobile.jpg");
  }

  #anonmail {
    background-image: url("../images/anonmail-mobile.jpg");
  }

  #myHostel {
    background-image: url("../images/myhostel.jpg");
  }

  #productInfoSearch {
    background-image: url("../images/productinfosearch.jpg");
  }

  #onTheGo {
    background-image: url("../images/onthego-mobile.jpg");
  }

  #mindful {
    background-image: url("../images/mindful-mobile.jpg");
  }

  #peerTutoring {
    background-image: url("../images/peertutoring-mobile.jpg");
  }

  #slideshow {
    height: 30vh;
    width: auto;
  }

  #slideshow-text h3 {
    font-size: 2em;
    position: relative;
  }
}
