@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --background-color: #200f21;
  --text-color: #fff;
  --theme-color-one: #900c3f;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  height: 100%;
  max-width: 100%;
  position: relative;
  color: var(--text-color);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  text-align: center;
}

.body-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  width: 100vw;
}

.scroll-section {
  height: 100vh;
  scroll-snap-align: start;
  padding: 50px;
}

.hero {
  padding: 10px;
  position: relative;
}

.hero p {
  font-size: 1.5em;
  margin-left: 40px;
}

.hero .graphic svg {
  width: 70%;
  height: auto;
  position: absolute;
  top: 30vh;
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
}

.card {
  height: 300px;
  width: 220px;
  border-radius: 5px;
  /* padding: 10px; */
  margin: 0 auto;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: var(--theme-color-one);
}

#the-magazine {
  background-color: #fffc00;
  color: #000;
}

#anonmail {
  background-color: #000;
}

#my-hostel {
  background-color: rgb(216, 113, 16);
}

#mindful {
  background-color: #936df7;
}

#peer-tutoring {
  background-color: #ff8095;
}

#nayyan {
  background-color: #f2994a;
}

.project-container h3 {
  font-size: 1.4em;
}

.project-container section {
  height: 20%;
  width: 100%;
}

/* .project-container h3::before {
  content: "";
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  display: block;
  position: absolute;
  z-index: -1;
  top: -45px;
  left: -40px;
  box-shadow: -3px 3px 15px 2px #000;
} */

@media (max-width: 960px) {
  .hero .graphic svg {
    width: 90%;
    height: auto;
    position: absolute;
    top: 50vh;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}
